.image-giraffe{
    width: auto;
    height: auto;
    filter: drop-shadow(8px 8px 10px gray);
    box-shadow: 0 0 10px gray, 0 0 20px gray, 0 0 30px gray;
    margin-right: 20px;
}

.image:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s;
}

.top-text{
    display: flex;
    text-align: center;
    width: 280px;
    border: 3px solid black;
    padding: 10px;
    margin: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    height: 55px;
    background-color: rgb(219, 233, 255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    background-color: rgb(196, 222, 234);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightcyan;
    color: rgb(0, 0, 0);
    text-align: center;
}

p {
    text-align: center;
}